<section class="vh-100 bg-image" >
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Regisztráció</h2>

              <form>
              <% if @user.errors.any? %>
                <ul>
                  <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
                </ul>
                <% end %>
                
                <%= form_for @user, url: :user_manager_create do |f| %>
                  <p>
                   <div class="form-outline mb-4">
                    <%= f.label :username, class:"form-control form-control-lg" %>
                    <%= f.text_field :username, class:"form-label" %>
                  </p>
                
                  <p>
                    <%= f.label :password %>
                    <%= f.password_field :password %>
                  </p>
                
                  <p>
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation %>
                  </p>
                
                  <p><%= f.button "Submit" %></p>
                <% end %>

               
                  <input type="text" id="reg_name" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Neved</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="reg_mail" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">E-mail</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="reg_pass_1" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Jelszó</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="reg_pass_2" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cdg">Jelszó ismét</label>
                </div>



                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Regisztrálás</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Már regisztráltál? <a href="/signup" class="fw-bold text-body"><u> Jelentkezz be itt</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<h1>Register</h1>
 

