<button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Menü</small></button>  
<% if @user.errors.any? %>

<ul>
  <% @user.errors.full_messages.each do |message| %>
  <div class="alert alert-danger">
  <li><%= message %></li>
  </div>
  <% end %>
</ul>
<% end %>

<section class="vh-10 bg-image" >
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Regisztráció</h2>

              <%= form_for @user, html: { autocomplete: "off" } , url: :sign_create do |f| %>
              <div class="form-outline mb-4">
                  <%= f.text_field :username, class:"form-control form-control-lg" %>
                  <label class="form-label" for="username">Username</label>
                </div>
               <div class="form-outline mb-4">
                <%= f.text_field :email, class:"form-control form-control-lg"  %>
                <label class="form-label" for="email">E-mail</label>
              </div>
              <div class="form-outline mb-4">
                <%= f.password_field :password , class:"form-control form-control-lg"  %>
                <label class="form-label" for="password">Password</label>
              </div>
              <div class="form-outline mb-4">
                <%= f.password_field :password_confirmation, class:"form-control form-control-lg"  %>
                <label class="form-label" for="password_confirmation">Password Confirmation</label>
              </div>
            
                

               
                <div class="d-flex justify-content-center">
                    <%= f.button "Regisztrálás", class:"btn btn-success btn-block btn-lg gradient-custom-4 text-body" %></p>
                    <% end %>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Már regisztráltál? <a href="/signin" class="fw-bold text-body"><u> Jelentkezz be itt</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



