<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @forumal.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @forumal.desc %>
</p>

<p>
  <strong>User:</strong>
  <%= @forumal.user_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @forumal.active %>
</p>

<p>
  <strong>Forum:</strong>
  <%= @forumal.forum_id %>
</p>

<%= link_to 'Edit', edit_forumal_path(@forumal) %> |
<%= link_to 'Back', forumals_path %>
