<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">G M 2022</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= (url_for(only_path: true)) == "/" ? "active" : "" %> ">
      
      <%= link_to "Főoldal ", root_path() , class: "nav-link" %>  
      </li>
      <% if current_user.present? %>
      <li class="nav-item <%= (url_for(only_path: true)) == "/" ? "active" : "" %> ">
       <li class="nav-item <%= (url_for(only_path: true)) == "/uploads" ? "active" : "" %> ">
      
        <%= link_to "Feltöltés", uploads_path , class: "nav-link" %>
      </li>
      
        
      </li>
      <% else %>

      <li class="nav-item <%= (url_for(only_path: true)) == "/sessions/new" ? "active" : "" %> " >
      <%= link_to "Belépés", login_signin_path() , class: "nav-link" %>
        
      </li>
      <li class="nav-item <%= (url_for(only_path: true)) == "/login/reg" ? "active" : "" %> ">
        <%= link_to "Regisztráció", login_reg_path() , class: "nav-link" %>
      </li>
      <% end %>
      <li class="nav-item <%= (url_for(only_path: true)) == "/games" ? "active" : "" %> ">
      
        <%= link_to "Fordítások", games_path , class: "nav-link" %>
      </li>
      
       <li class="nav-item">
        <a class="nav-link" href="#">Forum</a>
        
      </li>
      <% if current_user.present? %>
      <%= link_to "Kilépés", login_signout_path() , class: "nav-link text-light" %>
      <% else %>
      <% end %>
    </ul>
    <% if current_user.present? %>
    <div class=" text-light my-2 my-lg-0"">
    <%=link_to user_settings_path do %>
      <i class="bi bi-gear fa-3x text-light"></i>
    
      <% end %>
      <% end %>
    </div>
   
  </div>
</nav>