<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Translate Site 2022 By Sediqwe</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://kit.fontawesome.com/7abb47e8ad.js" crossorigin="anonymous"></script>
  </head>

  <body class="text-dark">
    <div class="page-content" id="content">
      <%= yield %>
    </div>
    </div>
  </body>
</html>
